h1 Post a Doctor:
form(ng-submit='submit()')
	.form-group
		input.form-control(placeholder="Enter name here..." ng-model='name')
	.form-group
		input.form-control(placeholder="Enter description..." ng-model='description')
	.form-group
		button.btn.btn-primary(type="submit") Post
