doctype html
html(lang="en")
	head
		title Find doctors
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/styles/cosmo.min.css')
		link(rel='stylesheet', href='/styles/main.css')
		base(href='/')
		// script.
			// if (foo) {
				// bar();
			// }
	body(ng-app='app')
		.container

			ul.nav.nav-pills
				li.active(role="presentation")
					a(href='/') Home
				li.active(role="presentation")
					a(href='/doctors') Doctors
			ng-view

		script(type='text/javascript', src='/bower_components/angular/angular.min.js')
		script(type='text/javascript', src='/bower_components/angular-route/angular-route.min.js')
		script(type='text/javascript', src='/bower_components/angular-resource/angular-resource.min.js')
		script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?sensor=false')
		script(type='text/javascript', src='/bower_components/lodash/dist/lodash.min.js')
		script(type='text/javascript', src='/bower_components/angular-google-maps/dist/angular-google-maps.min.js')
		script(type='text/javascript', src='/scripts/app.js')
		script(type='text/javascript', src='/scripts/controllers.js')
		script(type='text/javascript', src='/scripts/factories.js')
